[Desktop Entry]
Name=Deb Desk
Comment=Convert .desktop files to a Fluxbox menu
Keywords=menu;convert;desktop;
Exec=bash -c "/usr/bin/python3 $HOME/bin/debdesk.py"
Icon=software-properties
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility;
